<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Imagen</servlet-name>
        <servlet-class>HomeClient.domain.servlets.Imagen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerImagenPregunta</servlet-name>
        <servlet-class>HomeClient.domain.servlets.ControllerImagenPregunta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerRespuesta</servlet-name>
        <servlet-class>HomeClient.domain.servlets.ControllerRespuesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerCuestionario</servlet-name>
        <servlet-class>HomeClient.domain.servlets.ControllerCuestionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerCurso</servlet-name>
        <servlet-class>HomeClient.domain.servlets.ControllerCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerMateria</servlet-name>
        <servlet-class>HomeClient.domain.servlets.ControllerMateria</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Imagen</servlet-name>
        <url-pattern>/Imagen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerImagenPregunta</servlet-name>
        <url-pattern>/ControllerImagenPregunta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerRespuesta</servlet-name>
        <url-pattern>/ControllerRespuesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerCuestionario</servlet-name>
        <url-pattern>/ControllerCuestionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerCurso</servlet-name>
        <url-pattern>/ControllerCurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerMateria</servlet-name>
        <url-pattern>/ControllerMateria</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
